<div
  class="container centering-block z-0 absolute w-full h-[99vh] items-center justify-center"
>
  <div class="loader centered">
    <div class="square square_one"></div>
    <div class="square square_two"></div>
    <div class="square square_three"></div>
    <div class="square square_four"></div>
    <div class="square square_five"></div>
    <div class="square square_six"></div>
    <div class="square square_seven"></div>
    <div class="square square_eight"></div>
    <div class="square square_nine"></div>
  </div>
</div>
