<div class="flex flex-row flex-wrap items-center justify-center">
  <div
    class="col-md-5 m-5"
    style="
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(4px);
      border: 5px solid rgba(255, 255, 255, 0.5);
    "
  >
    <h4 class="uppercase font-bold font-roboto text-2xl my-5 text-[#000096]">
      non depositors
    </h4>

    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0 uppercase self-center"
            style="
              text-transform: uppercase;
              background-color: rgba(193, 193, 193, 0.25);
              text-align: center;
              align-items: center;
            "
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Players" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14"
            style="font-family: 'Roboto Condensed'; text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div
    class="col-md-5 m-5"
    style="
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(4px);
      border: 5px solid rgba(255, 255, 255, 0.5);
    "
  >
    <h4 class="uppercase font-bold font-roboto text-2xl my-5 text-[#000096]">
      1Time depositors
    </h4>

    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0 uppercase self-center"
            style="
              text-transform: uppercase;
              background-color: rgba(193, 193, 193, 0.25);
              text-align: center;
              align-items: center;
            "
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Depositors" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14"
            style="font-family: 'Roboto Condensed'; text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div
    class="col-md-5 m-5"
    style="
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(4px);
      border: 5px solid rgba(255, 255, 255, 0.5);
    "
  >
    <h4 class="uppercase font-bold font-roboto text-2xl my-5 text-[#000096]">
      2Time depositors
    </h4>

    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0 uppercase self-center"
            style="
              text-transform: uppercase;
              background-color: rgba(193, 193, 193, 0.25);
              text-align: center;
              align-items: center;
            "
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Depositors" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14"
            style="font-family: 'Roboto Condensed'; text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div
    class="col-md-5 m-5"
    style="
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(4px);
      border: 5px solid rgba(255, 255, 255, 0.5);
    "
  >
    <h4 class="uppercase font-bold font-roboto text-2xl my-5 text-[#000096]">
      3Time depositors
    </h4>

    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0 uppercase self-center"
            style="
              text-transform: uppercase;
              background-color: rgba(193, 193, 193, 0.25);
              text-align: center;
              align-items: center;
            "
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Depositors" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14"
            style="font-family: 'Roboto Condensed'; text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div
    class="col-md-5 m-5"
    style="
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(4px);
      border: 5px solid rgba(255, 255, 255, 0.5);
    "
  >
    <h4 class="uppercase font-bold font-roboto text-2xl my-5 text-[#000096]">
      4Time depositors
    </h4>

    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0 uppercase self-center"
            style="
              text-transform: uppercase;
              background-color: rgba(193, 193, 193, 0.25);
              text-align: center;
              align-items: center;
            "
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Depositors" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14"
            style="font-family: 'Roboto Condensed'; text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div
    class="col-md-5 m-5"
    style="
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(4px);
      border: 5px solid rgba(255, 255, 255, 0.5);
    "
  >
    <div class="flex flex-row">
      <h4 class="uppercase font-bold font-roboto text-2xl my-5 text-[#000096]">
        Deposit Amount
      </h4>
      <div class="m-l-auto flex items-center justify-center">
        <mat-form-field
          class="theme-select p-0 mr-0 outline-none"
          id="selection-box"
          appearance="outline"
        >
          <mat-select
            formControlName="month.value"
            value="{{ selectedValue }}"
            (selectionChange)="setCategoryValue($event)"
            style="font-size: 12px; font-family: 'Roboto Condensed'"
          >
            <mat-option
              *ngFor="let month of monthsNames"
              [value]="month.value"
              style="font-size: 10px"
            >
              {{ month.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive m-t-10">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0 uppercase self-center"
            style="
              text-transform: uppercase;
              background-color: rgba(193, 193, 193, 0.25);
              text-align: center;
              align-items: center;
            "
          >
            {{ column === "day" ? "" : "" }}

            <!-- {{ column === "players" ? "Players" : "" }} -->
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14"
            style="font-family: 'Roboto Condensed'; text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
            />
            <p
              *ngIf="
                column !== 'players' &&
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
