<div class="flex flex-wrap space-x-2 items-center justify-around space-y-2">
  <div class="w-[100%] lg:w-[45%] rounded-t-md border" style="">
    <h4
      class="font-normal font-jakartha px-4 text-xl text-[#fff] bg-[#6D88EF] py-4 rounded-t-md w-full"
    >
      Non Depositors
    </h4>

    <div class="table-responsive m-t-10 mx-4">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class=""
            style="background-color: #edf2fe"
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Players" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14 font-jakartha text-[#11142B]"
            style="text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
              class="w-full border h-5 ml-2 accent-[#6688F7]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="w-[100%] lg:w-[45%] rounded-t-md border" style="">
    <h4
      class="font-normal font-jakartha px-4 text-xl text-[#fff] bg-[#E9B35A] py-4 rounded-t-md w-full"
    >
      1 Time Deposit
    </h4>

    <div class="table-responsive m-t-10 mx-4">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class=""
            style="background-color: #edf2fe"
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Players" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14 font-jakartha text-[#11142B]"
            style="text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
              class="w-full border h-5 ml-2 accent-[#6688F7]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="w-[100%] lg:w-[45%] rounded-t-md border" style="">
    <h4
      class="font-normal font-jakartha px-4 text-xl text-[#fff] bg-[#DE9378] py-4 rounded-t-md w-full"
    >
      2 Time Deposit
    </h4>

    <div class="table-responsive m-t-10 mx-4">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class=""
            style="background-color: #edf2fe"
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Players" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14 font-jakartha text-[#11142B]"
            style="text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
              class="w-full border h-5 ml-2 accent-[#6688F7]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="w-[100%] lg:w-[45%] rounded-t-md border" style="">
    <h4
      class="font-normal font-jakartha px-4 text-xl text-[#fff] bg-[#7EBBF4] py-4 rounded-t-md w-full"
    >
      Less Than 4 Depositos
    </h4>

    <div class="table-responsive m-t-10 mx-4">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class=""
            style="background-color: #edf2fe"
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Players" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14 font-jakartha text-[#11142B]"
            style="text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
              class="w-full border h-5 ml-2 accent-[#6688F7]"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="w-[100%] lg:w-[45%] rounded-t-md border" style="">
    <h4
      class="font-normal font-jakartha px-4 text-xl text-[#fff] bg-[#6D88EF] py-4 rounded-t-md w-full"
    >
      Less Than 5 Depositos
    </h4>

    <div class="table-responsive m-t-10 mx-4">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class=""
            style="background-color: #edf2fe"
          >
            {{ column === "day" ? "" : "" }}

            {{ column === "players" ? "Players" : "" }}
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14 font-jakartha text-[#11142B]"
            style="text-align: center"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
              class="w-full h-5 ml-2 accent-[#6688F7] bg-transparent border-none text-transparent focus:ring-0 focus:ring-offset-0"
            />
            <p
              *ngIf="
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

  <div class="w-[100%] lg:w-[45%] rounded-t-md border">
    <div class="flex flex-row mx-auto bg-[#E9B35A] rounded-t-md">
      <h4
        class="font-normal font-jakartha px-4 text-xl text-[#fff] bg-[#E9B35A] py-4 rounded-t-md w-full"
      >
        Deposit Amount
      </h4>
      <div class="m-l-auto flex items-center justify-center mr-2">
        <mat-form-field
          class="theme-select p-0 mr-0 outline-none bg-[#fff] rounded-md"
          id="selection-box"
          appearance="outline"
        >
          <mat-select
            formControlName="month.value"
            value="{{ selectedValue }}"
            (selectionChange)="setCategoryValue($event)"
            class="font-jakartha"
          >
            <mat-option
              *ngFor="let month of monthsNames"
              [value]="month.value"
              style="font-size: 10px"
            >
              {{ month.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive m-t-10 mx-4">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0 uppercase self-center font-bold"
            style="
              text-align: center;
              align-items: center;
              background-color: #edf2fe;
            "
          >
            {{ column === "day" ? "" : "" }}

            <!-- {{ column === "players" ? "Players" : "" }} -->
            <app-telgram *ngIf="column === 'telegram'"></app-telgram>
            <app-whatsapp *ngIf="column === 'whatsapp'"></app-whatsapp>
            <app-email *ngIf="column === 'email'"></app-email>
            <app-sms *ngIf="column === 'sms'"></app-sms>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="p-l-0 f-s-14 font-jakartha font-bold text-[#11142B]"
          >
            <input
              type="checkbox"
              *ngIf="
                column !== 'send' &&
                (element[column] === false || element[column] === true)
              "
              [checked]="element[column]"
            />
            <p
              *ngIf="
                column !== 'players' &&
                column !== 'send' &&
                element[column] !== false &&
                element[column] !== true
              "
            >
              {{ element[column] }}
            </p>
            <button
              *ngIf="column === 'send'"
              class="hover:bg-sky-200 rounded-full"
            >
              <app-send></app-send>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
