<div class="lg:flex mb-4 space-y-4 lg:space-y-0">
  <div class="col-lg-4 col-md-12">
    <div
      class="card border-end border-dark"
      style="
        box-shadow: 5px 5px 0px 0px #49beff;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(4px);
        border: 5px solid rgba(255, 255, 255, 0.5);
      "
    >
      <div class="card-body">
        <div class="d-flex no-block align-items-center justify-center">
          <div class="w-full items-center justify-center">
            <h6
              class="fw-medium text-dark text-xl font-bold text-center ml-[2%] w-full"
            >
              Total Players
            </h6>
          </div>
          <div class="ms-auto">
            <h2 class="fs-7">360</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div
      class="card border-end border-dark"
      style="
        box-shadow: 5px 5px 0px 0px #49beff;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(4px);
        border: 5px solid rgba(255, 255, 255, 0.5);
      "
    >
      <div class="card-body">
        <div class="d-flex no-block align-items-center justify-center">
          <div class="w-full items-center justify-center">
            <h6
              class="fw-medium text-dark text-xl font-bold text-center ml-[2%] w-full"
            >
              Total Deposits
            </h6>
          </div>
          <div class="ms-auto">
            <h2 class="fs-7">250</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div
      class="card border-end border-dark"
      style="
        box-shadow: 5px 5px 0px 0px #49beff;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(4px);
        border: 5px solid rgba(255, 255, 255, 0.5);
      "
    >
      <div class="card-body">
        <div class="d-flex no-block align-items-center justify-center">
          <div class="w-full items-center justify-center">
            <h6
              class="fw-medium text-dark text-xl font-bold text-center ml-[2%] w-full"
            >
              Total Withdrawls
            </h6>
          </div>
          <div class="ms-auto">
            <h2 class="fs-7">760</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
