<mat-card
  class="cardWithShadow p-3"
  style="border: 1px solid #e7eaee; background-color: #fff"
>
  <mat-card-subtitle
    class="mat-body-1 font-bold h-[5vh] font-jakartha"
    style="
      font-size: 14px;
      color: #11142b !important;
      font-weight: bold;
      margin-left: 12%;
    "
    >{{ newitem?.name }}</mat-card-subtitle
  >
  <div class="mx-auto w-[100%] flex items-center justify-center">
    <mat-form-field
      class="theme-select p-0 mr-0 outline-none rounded-lg"
      id="selection-box"
      appearance="outline"
      style="background-color: #fff"
    >
      <mat-select
        formControlName="month.value"
        value="{{ selectedValue }}"
        (selectionChange)="setCategoryValue($event)"
        style="font-size: 12px; font-family: 'Roboto Condensed'"
      >
        <mat-option
          *ngFor="let month of monthsNames"
          [value]="month.value"
          style="font-size: 10px"
        >
          {{ month.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex items-center mb-2 mt-8 mx-auto justify-between">
    <h5
      class="mat-subtitle-1 f-w-800"
      style="color: #6688f7; line-height: 22px"
    >
      {{ newitem?.value }}
    </h5>
    <button mat-mini-fab class="bg-white text-success shadow-none icon-27 mx-2">
      <i-tabler name="arrow-up-right" class="icon-20"></i-tabler>
    </button>
    <div class="mat-body-1 f-w-600">+9%</div>
  </div>

  <apx-chart
    [series]="customerChart.series"
    [dataLabels]="customerChart.dataLabels"
    [chart]="customerChart.chart"
    [legend]="customerChart.legend"
    [colors]="customerChart.colors"
    [stroke]="customerChart.stroke"
    [tooltip]="customerChart.tooltip"
    [plotOptions]="customerChart.plotOptions"
    [responsive]="customerChart.responsive"
    [xaxis]="customerChart.xaxis"
  ></apx-chart>
</mat-card>
