<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <a
          [routerLink]="['/dashboards/dashboard1']"
          *ngIf="options.theme === 'light'"
        >
          <img
            src="./assets/images/logos/dark-logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>
        <a
          [routerLink]="['/dashboards/dashboard1']"
          *ngIf="options.theme === 'dark'"
        >
          <img
            src="./assets/images/logos/light-logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>

        <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        >
          <img
            src="/assets/images/backgrounds/login-bg.svg"
            alt="login"
            style="max-width: 500px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4
              class="f-w-700 m-0 text-purple-700 font-roboto font-bold uppercase text-2xl animate-bounce"
            >
              Welcome to Dice and Reel
            </h4>
            <span class="f-s-14 d-block mat-body-1 m-t-8 mt-1"
              >Your Admin Dashboard</span
            >

            <!-- <div class="row m-t-24">
              <div class="col-12 col-sm-6">
                <button mat-stroked-button class="w-100">
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/images/svgs/google-icon.svg"
                      alt="google"
                      width="16"
                      class="m-r-8"
                    />
                    Sign in with Google
                  </div>
                </button>
              </div>
              <div class="col-12 col-sm-6">
                <button
                  mat-stroked-button
                  class="w-100 d-flex align-items-center"
                >
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/images/svgs/facebook-icon.svg"
                      alt="facebook"
                      width="40"
                      class="m-r-4"
                    />
                    Sign in with FB
                  </div>
                </button>
              </div>
            </div> -->

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label
                class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block font-roboto"
                >Username</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput formControlName="uname" />
                <mat-hint
                  *ngIf="f['uname'].touched && f['uname'].invalid"
                  class="m-b-16 error-msg"
                >
                  <div
                    class="text-error"
                    *ngIf="f['uname'].errors && f['uname'].errors['required']"
                  >
                    User Name is required.
                  </div>
                  <div
                    class="text-error font-roboto"
                    *ngIf="f['uname'].errors && f['uname'].errors['minlength']"
                  >
                    UserName should be 3 character.
                  </div>
                </mat-hint>
              </mat-form-field>

              <!-- password -->
              <mat-label
                class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block font-roboto"
                >Password</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput type="password" formControlName="password" />
                <mat-hint
                  *ngIf="f['password'].touched && f['password'].invalid"
                  class="m-b-16 error-msg"
                >
                  <div
                    class="text-error"
                    *ngIf="
                      f['password'].errors && f['password'].errors['required']
                    "
                  >
                    Password is required.
                  </div>
                </mat-hint>
              </mat-form-field>

              <!-- <div class="d-flex align-items-center m-b-12">
                <mat-checkbox color="primary"
                  >Remember this Device</mat-checkbox
                >
                <a
                  [routerLink]="['/authentication/side-forgot-pwd']"
                  class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                  >Forgot Password ?</a
                >
              </div> -->
              <div class="font-bold text-red-600">
                {{ message }}
              </div>
              <button
                [hidden]="!form.valid"
                color="primary"
                class="w-100 h-12 rounded-md mt-5 blur:bg-purple-500 bg-blue-600 text-white font-roboto uppercase animate-pulse"
                [disabled]="!form.valid || loader"
              >
                <p class="" *ngIf="!loader">Sign In</p>
                <div class="flex justify-center space-x-1" *ngIf="loader">
                  <div
                    class="h-4 w-4 bg-white rounded-full animate-bounce [animation-delay:-0.3s]"
                  ></div>
                  <div
                    class="h-4 w-4 bg-white rounded-full animate-bounce [animation-delay:-0.15s]"
                  ></div>
                  <div
                    class="h-4 w-4 bg-white rounded-full animate-bounce"
                  ></div>
                </div>
              </button>
              <!-- input -->
            </form>
            <!-- <span class="d-block f-w-500 d-block m-t-24"
              >New to Modernize?
              <a
                [routerLink]="['/authentication/side-register']"
                class="text-decoration-none text-primary f-w-500 f-s-14"
              >
                Create an account</a
              >
            </span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
