<p-table
  [columns]="cols"
  [value]="userDetails"
  selectionMode="single"
  [paginator]="true"
  [rows]="50"
  dataKey="AccountID"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <!-- <th style="width: 3em"></th> -->
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template
    pTemplate="body"
    let-rowData
    let-expanded="expanded"
    let-columns="columns"
  >
    <tr>
      <!-- <td *ngFor="let col of columns" (click)="onRowSelect(rowData)">
        <span>{{ rowData[col.field] }}</span>
      </td> -->
    </tr>
  </ng-template>
</p-table>
