<div class="table-responsive rounded-md" style="margin: 0">
  <mat-card-header
    class="border bg-[#7EBBF4] flex items-center justify-between p-0 rounded-t-md"
  >
    <div
      class="d-flex flex-col w-100 items-center py-3.5 px-5 rounded-t-md justify-center"
    >
      <div class="w-full my-0 flex flex-row">
        <mat-card-title
          class="text-[#fff] font-bold text-xl"
          style="font-weight: 600; font-size: 18px"
          >{{ title }}
          <button
            class="mx-5 px-5 bg-[#E9B35A] rounded-md hover:bg-[#E9CCCC]"
            *ngIf="chart"
            (click)="selectedTypeFn()"
          >
            {{ selectedType === "Table" ? "Chart" : "Table" }}
          </button>
        </mat-card-title>

        <div></div>
        <div class="m-l-auto">
          <mat-form-field
            class="theme-select p-0 mr-0 outline-none bg-white rounded-md -mt-3"
            id="selection-box"
            appearance="outline"
          >
            <mat-select
              formControlName="month.value"
              value="{{ selectedValue }}"
              (selectionChange)="setCategoryValue($event)"
              style="font-size: 12px; font-family: 'Roboto Condensed'"
            >
              <mat-option
                *ngFor="let month of monthsNames"
                [value]="month.value"
                style="font-size: 10px"
              >
                {{ month.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-header>

  <div class="h-[100%] px-5 py-4">
    <div class="{{ selectedType === 'Table' ? '' : 'hidden' }}">
      <table mat-table [dataSource]="tableData" class="border">
        <!-- Position Column -->
        <ng-container [matColumnDef]="item" *ngFor="let item of tablesHeadings">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #ecf2ff; color: #11142b; font-weight: 600"
            class="font-jakartha text-center text-sm capitalize"
          >
            {{
              item.replaceAll("_", " ")[0].toUpperCase() +
                item.replaceAll("_", " ").substring(1)
            }}
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="text-align: center; font-size: 12px; padding: 21px"
            class="text-[#11142B] font-bold"
          >
            {{ element[item] }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="tablesHeadings"
          class="font-jakartha"
        ></tr>
        <tbody style="height: 20vh">
          <tr
            mat-row
            *matRowDef="let row; columns: tablesHeadings"
            class="font-jakartha"
          ></tr>
        </tbody>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
        style="display: none"
        class="hidden"
      >
      </mat-paginator>
    </div>
    <div class="" *ngIf="selectedType === 'Chart'">
      <app-doughnut-pie [chartPoints]="piePoints"></app-doughnut-pie>
    </div>
  </div>
</div>
