<!-- <div
  class="mat-elevation-z8"
  style="
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    border: 5px solid rgba(255, 255, 255, 0.5);
  "
>
  <mat-card-header>
    <div class="d-flex flex-col w-100 mb-2">
      <div class="w-full my-0">
        <mat-card-title
          class="text-[#000096] font-bold"
          style="
            
            font-weight: 600;
            font-size: 18px;
          "
          >{{ title }}</mat-card-title
        >
      </div>
    </div>
  </mat-card-header>

  <div class="relative overflow-x-auto">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 h-[46vh]"
    >
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr class="border">
          <th
            scope="col"
            class="text-[10px] h-[40px] px-2 text-[#000096]"
            *ngFor="let item of tablesHeadings"
          >
            {{ item }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-800"
          *ngFor="let item of tableData"
        >
          <td
            class="text-[10px] px-2 text-black text-center"
            *ngFor="let heads of tablesHeadings"
          >
            {{ item[heads] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[5]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div> -->

<div class="border table-responsive rounded-md mb-4">
  <mat-card-header
    class="border bg-[#7EBBF4] flex items-center justify-between p-0 rounded-t-md"
  >
    <div
      class="d-flex flex-col w-100 items-center py-3.5 px-5 rounded-t-md justify-center"
    >
      <div class="w-full my-0 flex flex-row">
        <mat-card-title
          class="text-[#fff] font-bold text-xl"
          style="font-weight: 600; font-size: 18px"
          >{{ title }}
          <button
            class="mx-5 px-5 bg-[#E9B35A] rounded-md hover:bg-[#E9CCCC]"
            *ngIf="chart"
            (click)="selectedTypeFn()"
          >
            {{ selectedType === "Table" ? "Chart" : "Table" }}
          </button>
        </mat-card-title>

        <div></div>
        <div class="m-l-auto">
          <mat-form-field
            class="theme-select p-0 mr-0 outline-none bg-white rounded-md -mt-3"
            id="selection-box"
            appearance="outline"
          >
            <mat-select
              formControlName="month.value"
              value="{{ selectedValue }}"
              (selectionChange)="setCategoryValue($event)"
              style="font-size: 12px; font-family: 'Roboto Condensed'"
            >
              <mat-option
                *ngFor="let month of monthsNames"
                [value]="month.value"
                style="font-size: 10px"
              >
                {{ month.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-header>

  <div class="h-[100%] px-5 py-4">
    <div class="{{ selectedType === 'Table' ? '' : 'hidden' }}">
      <table mat-table [dataSource]="tableData" class="w-full">
        <!-- Position Column -->
        <ng-container [matColumnDef]="item" *ngFor="let item of tablesHeadings">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #ecf2ff; color: #11142b; font-weight: 600"
            class="font-jakartha text-center text-sm"
          >
            {{ item }}
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="text-align: center; font-size: 12px; padding: 21px"
            class="text-[#11142B] font-bold"
          >
            {{ element[item] }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="tablesHeadings"
          style="font-family: 'Roboto Condensed'"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: tablesHeadings"
          style="font-family: 'Roboto Condensed'"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
        style="display: none"
        class="hidden"
      >
      </mat-paginator>
    </div>
    <div *ngIf="selectedType === 'Chart'" class="">
      <app-doughnut-pie [chartPoints]="tableData"></app-doughnut-pie>
    </div>
  </div>
</div>
